body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.calcContainer {
  background-color: black;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  width: 60%;
}
.answerBar {
  width: 80%;
  height: 100px;
  background-color: white;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.numbers {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw;
}
.numberRow {
  display: flex;
}
.calcButton {
  background-color: white;
  padding: 30px;
  border-radius: 100px;
  font-size: 50px;
  margin: 2vw;
  cursor: pointer;
}
.previousOperand {
  font-size: 30px;
  color: rgb(232, 53, 113);
}
